@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Montserrat&display=swap');

:root {
	--primary: #ac3b61;
	--secondary: #123c69;
	--mid: #6b3c65;
	--dark: #bab2b5;
	--light: #eee2dc;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Kalam', cursive;
	background-color: var(--dark);
}

.card-grid: {
	width: 100vw;
}

button {
	color: var(--light);
	padding: 10px;
	background-color: var(--mid);
	border-radius: 12px;
	border: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	background-color: var(--primary);
}

button:focus {
	outline: none;
}

.nav-buttons {
	grid-column: 1/2;
	padding: 12px;
}

.prev-button {
	padding: 10px;
	margin-right: 12px;
}

.card {
	background-image: linear-gradient(
		to bottom right,
		var(--primary),
		var(--secondary)
	);
	color: var(--light);
	font-size: 5rem;
	grid-column: 1/2;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 12px;
	box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.3);
	min-height: 250px;
	width: 100%;

	transform-style: preserve-3d;
	transition: 150ms;
	cursor: pointer;
	transform: perspective(1000px) rotateY(var(--rotate-y, 0))
		translateY(var(--translate-y, 0));
}

.card:hover {
	--translate-y: -2px;
	box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.5);
}
.card.flip {
	--rotate-y: 180deg;
}

.card .front,
.card .back {
	position: absolute;
	padding: 1rem;
	backface-visibility: hidden;
}

.card .front {
}

.card .back {
	transform: rotateY(180deg);
}
